.topWave1 {
	animation-name: topWave1;
	animation-duration: var(--wave-speed);
	animation-timing-function: linear, ease;
	animation-iteration-count: infinite, 1;
	animation-fill-mode: none, forwards;
}

.topWave2 {
	animation-name: topWave2;
	animation-duration: var(--wave-speed);
	animation-timing-function: linear, ease;
	animation-iteration-count: infinite, 1;
	animation-fill-mode: none, forwards;
}

.topWave3 {
	animation-name: topWave3;
	animation-duration: var(--wave-speed);
	animation-timing-function: linear, ease;
	animation-iteration-count: infinite, 1;
	animation-fill-mode: none, forwards;
}

.topWave4 {
	animation-name: topWave4;
	animation-duration: var(--wave-speed);
	animation-timing-function: linear, ease;
	animation-iteration-count: infinite, 1;
	animation-fill-mode: none, forwards;
}

.topWave5 {
	animation-name: topWave5;
	animation-duration: var(--wave-speed);
	animation-timing-function: linear, ease;
	animation-iteration-count: infinite, 1;
	animation-fill-mode: none, forwards;
}

.topWave6 {
	animation-name: topWave6;
	animation-duration: var(--wave-speed);
	animation-timing-function: linear, ease;
	animation-iteration-count: infinite, 1;
	animation-fill-mode: none, forwards;
}

.topWave7 {
	animation-name: topWave7;
	animation-duration: var(--wave-speed);
	animation-timing-function: linear, ease;
	animation-iteration-count: infinite, 1;
	animation-fill-mode: none, forwards;
}

.topWave8 {
	animation-name: topWave8;
	animation-duration: var(--wave-speed);
	animation-timing-function: linear, ease;
	animation-iteration-count: infinite, 1;
	animation-fill-mode: none, forwards;
}

@keyframes topWave1 {
	0% {
		d: path(
			"M0 151L18.8 146.3C37.7 141.7 75.3 132.3 112.8 137.8C150.3 143.3 187.7 163.7 225.2 177.7C262.7 191.7 300.3 199.3 337.8 196.7C375.3 194 412.7 181 450.2 173.5C487.7 166 525.3 164 562.8 169.3C600.3 174.7 637.7 187.3 675.2 187.5C712.7 187.7 750.3 175.3 787.8 168C825.3 160.7 862.7 158.3 881.3 157.2L900 156L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	10% {
		d: path(
			"M0 208L18.8 198.5C37.7 189 75.3 170 112.8 161.2C150.3 152.3 187.7 153.7 225.2 153.8C262.7 154 300.3 153 337.8 155.8C375.3 158.7 412.7 165.3 450.2 163.5C487.7 161.7 525.3 151.3 562.8 146.5C600.3 141.7 637.7 142.3 675.2 152C712.7 161.7 750.3 180.3 787.8 181.2C825.3 182 862.7 165 881.3 156.5L900 148L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	20% {
		d: path(
			"M0 203L18.8 195.8C37.7 188.7 75.3 174.3 112.8 173.5C150.3 172.7 187.7 185.3 225.2 179.3C262.7 173.3 300.3 148.7 337.8 138.7C375.3 128.7 412.7 133.3 450.2 145.5C487.7 157.7 525.3 177.3 562.8 186.7C600.3 196 637.7 195 675.2 195C712.7 195 750.3 196 787.8 185.8C825.3 175.7 862.7 154.3 881.3 143.7L900 133L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	30% {
		d: path(
			"M0 126L18.8 127C37.7 128 75.3 130 112.8 132.2C150.3 134.3 187.7 136.7 225.2 135.5C262.7 134.3 300.3 129.7 337.8 129.8C375.3 130 412.7 135 450.2 140.2C487.7 145.3 525.3 150.7 562.8 159.2C600.3 167.7 637.7 179.3 675.2 176.3C712.7 173.3 750.3 155.7 787.8 155.7C825.3 155.7 862.7 173.3 881.3 182.2L900 191L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	40% {
		d: path(
			"M0 175L18.8 179C37.7 183 75.3 191 112.8 193.2C150.3 195.3 187.7 191.7 225.2 179.8C262.7 168 300.3 148 337.8 140.2C375.3 132.3 412.7 136.7 450.2 139.5C487.7 142.3 525.3 143.7 562.8 151.7C600.3 159.7 637.7 174.3 675.2 183.8C712.7 193.3 750.3 197.7 787.8 188.7C825.3 179.7 862.7 157.3 881.3 146.2L900 135L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	50% {
		d: path(
			"M0 179L18.8 178C37.7 177 75.3 175 112.8 165.5C150.3 156 187.7 139 225.2 137.5C262.7 136 300.3 150 337.8 158.7C375.3 167.3 412.7 170.7 450.2 170.5C487.7 170.3 525.3 166.7 562.8 165.5C600.3 164.3 637.7 165.7 675.2 166.5C712.7 167.3 750.3 167.7 787.8 162.7C825.3 157.7 862.7 147.3 881.3 142.2L900 137L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	60% {
		d: path(
			"M0 199L18.8 200.5C37.7 202 75.3 205 112.8 202.2C150.3 199.3 187.7 190.7 225.2 186.3C262.7 182 300.3 182 337.8 181.7C375.3 181.3 412.7 180.7 450.2 176.5C487.7 172.3 525.3 164.7 562.8 168.8C600.3 173 637.7 189 675.2 190.2C712.7 191.3 750.3 177.7 787.8 178.2C825.3 178.7 862.7 193.3 881.3 200.7L900 208L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	70% {
		d: path(
			"M0 139L18.8 149.3C37.7 159.7 75.3 180.3 112.8 190.8C150.3 201.3 187.7 201.7 225.2 196.8C262.7 192 300.3 182 337.8 182.5C375.3 183 412.7 194 450.2 190.3C487.7 186.7 525.3 168.3 562.8 155.5C600.3 142.7 637.7 135.3 675.2 138.7C712.7 142 750.3 156 787.8 169.5C825.3 183 862.7 196 881.3 202.5L900 209L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	80% {
		d: path(
			"M0 175L18.8 171C37.7 167 75.3 159 112.8 155.8C150.3 152.7 187.7 154.3 225.2 151.5C262.7 148.7 300.3 141.3 337.8 143C375.3 144.7 412.7 155.3 450.2 154.2C487.7 153 525.3 140 562.8 139.2C600.3 138.3 637.7 149.7 675.2 153.3C712.7 157 750.3 153 787.8 148.8C825.3 144.7 862.7 140.3 881.3 138.2L900 136L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	90% {
		d: path(
			"M0 145L18.8 145.3C37.7 145.7 75.3 146.3 112.8 149.2C150.3 152 187.7 157 225.2 156.5C262.7 156 300.3 150 337.8 156.7C375.3 163.3 412.7 182.7 450.2 190.7C487.7 198.7 525.3 195.3 562.8 183.8C600.3 172.3 637.7 152.7 675.2 151.8C712.7 151 750.3 169 787.8 180.2C825.3 191.3 862.7 195.7 881.3 197.8L900 200L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	100% {
		d: path(
			"M0 151L18.8 146.3C37.7 141.7 75.3 132.3 112.8 137.8C150.3 143.3 187.7 163.7 225.2 177.7C262.7 191.7 300.3 199.3 337.8 196.7C375.3 194 412.7 181 450.2 173.5C487.7 166 525.3 164 562.8 169.3C600.3 174.7 637.7 187.3 675.2 187.5C712.7 187.7 750.3 175.3 787.8 168C825.3 160.7 862.7 158.3 881.3 157.2L900 156L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
}

@keyframes topWave2 {
	0% {
		d: path(
			"M0 183L18.8 178.2C37.7 173.3 75.3 163.7 112.8 155.3C150.3 147 187.7 140 225.2 138.3C262.7 136.7 300.3 140.3 337.8 138.8C375.3 137.3 412.7 130.7 450.2 129.5C487.7 128.3 525.3 132.7 562.8 138.5C600.3 144.3 637.7 151.7 675.2 154.8C712.7 158 750.3 157 787.8 158.2C825.3 159.3 862.7 162.7 881.3 164.3L900 166L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	10% {
		d: path(
			"M0 117L18.8 115.3C37.7 113.7 75.3 110.3 112.8 116.8C150.3 123.3 187.7 139.7 225.2 152.2C262.7 164.7 300.3 173.3 337.8 171.2C375.3 169 412.7 156 450.2 154C487.7 152 525.3 161 562.8 161.3C600.3 161.7 637.7 153.3 675.2 144.5C712.7 135.7 750.3 126.3 787.8 120C825.3 113.7 862.7 110.3 881.3 108.7L900 107L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	20% {
		d: path(
			"M0 138L18.8 139.2C37.7 140.3 75.3 142.7 112.8 150.3C150.3 158 187.7 171 225.2 165.2C262.7 159.3 300.3 134.7 337.8 131.7C375.3 128.7 412.7 147.3 450.2 150.3C487.7 153.3 525.3 140.7 562.8 139C600.3 137.3 637.7 146.7 675.2 149.2C712.7 151.7 750.3 147.3 787.8 144C825.3 140.7 862.7 138.3 881.3 137.2L900 136L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	30% {
		d: path(
			"M0 171L18.8 168.2C37.7 165.3 75.3 159.7 112.8 150.7C150.3 141.7 187.7 129.3 225.2 123C262.7 116.7 300.3 116.3 337.8 121.5C375.3 126.7 412.7 137.3 450.2 136C487.7 134.7 525.3 121.3 562.8 120.3C600.3 119.3 637.7 130.7 675.2 139.2C712.7 147.7 750.3 153.3 787.8 154.2C825.3 155 862.7 151 881.3 149L900 147L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	40% {
		d: path(
			"M0 133L18.8 137.8C37.7 142.7 75.3 152.3 112.8 155.3C150.3 158.3 187.7 154.7 225.2 154.7C262.7 154.7 300.3 158.3 337.8 163.7C375.3 169 412.7 176 450.2 169.8C487.7 163.7 525.3 144.3 562.8 136.2C600.3 128 637.7 131 675.2 133.5C712.7 136 750.3 138 787.8 143.3C825.3 148.7 862.7 157.3 881.3 161.7L900 166L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	50% {
		d: path(
			"M0 106L18.8 109C37.7 112 75.3 118 112.8 119.3C150.3 120.7 187.7 117.3 225.2 119.8C262.7 122.3 300.3 130.7 337.8 138.5C375.3 146.3 412.7 153.7 450.2 159.7C487.7 165.7 525.3 170.3 562.8 161.5C600.3 152.7 637.7 130.3 675.2 130.8C712.7 131.3 750.3 154.7 787.8 164.2C825.3 173.7 862.7 169.3 881.3 167.2L900 165L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	60% {
		d: path(
			"M0 108L18.8 118.2C37.7 128.3 75.3 148.7 112.8 151.5C150.3 154.3 187.7 139.7 225.2 134.2C262.7 128.7 300.3 132.3 337.8 133.2C375.3 134 412.7 132 450.2 134.7C487.7 137.3 525.3 144.7 562.8 141.7C600.3 138.7 637.7 125.3 675.2 120C712.7 114.7 750.3 117.3 787.8 116.7C825.3 116 862.7 112 881.3 110L900 108L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	70% {
		d: path(
			"M0 155L18.8 153.7C37.7 152.3 75.3 149.7 112.8 150.8C150.3 152 187.7 157 225.2 154.2C262.7 151.3 300.3 140.7 337.8 141.5C375.3 142.3 412.7 154.7 450.2 159.5C487.7 164.3 525.3 161.7 562.8 159.5C600.3 157.3 637.7 155.7 675.2 156.3C712.7 157 750.3 160 787.8 163.2C825.3 166.3 862.7 169.7 881.3 171.3L900 173L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	80% {
		d: path(
			"M0 123L18.8 122.7C37.7 122.3 75.3 121.7 112.8 125.5C150.3 129.3 187.7 137.7 225.2 147.3C262.7 157 300.3 168 337.8 170.8C375.3 173.7 412.7 168.3 450.2 156.5C487.7 144.7 525.3 126.3 562.8 129.7C600.3 133 637.7 158 675.2 165.2C712.7 172.3 750.3 161.7 787.8 160.2C825.3 158.7 862.7 166.3 881.3 170.2L900 174L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	90% {
		d: path(
			"M0 183L18.8 183C37.7 183 75.3 183 112.8 177.5C150.3 172 187.7 161 225.2 151.8C262.7 142.7 300.3 135.3 337.8 133.7C375.3 132 412.7 136 450.2 142.5C487.7 149 525.3 158 562.8 156.7C600.3 155.3 637.7 143.7 675.2 138C712.7 132.3 750.3 132.7 787.8 132C825.3 131.3 862.7 129.7 881.3 128.8L900 128L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	100% {
		d: path(
			"M0 183L18.8 178.2C37.7 173.3 75.3 163.7 112.8 155.3C150.3 147 187.7 140 225.2 138.3C262.7 136.7 300.3 140.3 337.8 138.8C375.3 137.3 412.7 130.7 450.2 129.5C487.7 128.3 525.3 132.7 562.8 138.5C600.3 144.3 637.7 151.7 675.2 154.8C712.7 158 750.3 157 787.8 158.2C825.3 159.3 862.7 162.7 881.3 164.3L900 166L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
}

@keyframes topWave3 {
	0% {
		d: path(
			"M0 133L18.8 126.5C37.7 120 75.3 107 112.8 102.3C150.3 97.7 187.7 101.3 225.2 102.8C262.7 104.3 300.3 103.7 337.8 106.8C375.3 110 412.7 117 450.2 119C487.7 121 525.3 118 562.8 118.7C600.3 119.3 637.7 123.7 675.2 130.2C712.7 136.7 750.3 145.3 787.8 148.7C825.3 152 862.7 150 881.3 149L900 148L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	10% {
		d: path(
			"M0 93L18.8 99.5C37.7 106 75.3 119 112.8 127.7C150.3 136.3 187.7 140.7 225.2 137.7C262.7 134.7 300.3 124.3 337.8 122.7C375.3 121 412.7 128 450.2 131C487.7 134 525.3 133 562.8 136.3C600.3 139.7 637.7 147.3 675.2 142.5C712.7 137.7 750.3 120.3 787.8 112.2C825.3 104 862.7 105 881.3 105.5L900 106L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	20% {
		d: path(
			"M0 152L18.8 147.2C37.7 142.3 75.3 132.7 112.8 127.5C150.3 122.3 187.7 121.7 225.2 117.5C262.7 113.3 300.3 105.7 337.8 103.5C375.3 101.3 412.7 104.7 450.2 112C487.7 119.3 525.3 130.7 562.8 132.8C600.3 135 637.7 128 675.2 125.7C712.7 123.3 750.3 125.7 787.8 129C825.3 132.3 862.7 136.7 881.3 138.8L900 141L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	30% {
		d: path(
			"M0 124L18.8 118.3C37.7 112.7 75.3 101.3 112.8 98.5C150.3 95.7 187.7 101.3 225.2 104.2C262.7 107 300.3 107 337.8 110.7C375.3 114.3 412.7 121.7 450.2 124.7C487.7 127.7 525.3 126.3 562.8 130C600.3 133.7 637.7 142.3 675.2 141C712.7 139.7 750.3 128.3 787.8 124.7C825.3 121 862.7 125 881.3 127L900 129L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	40% {
		d: path(
			"M0 145L18.8 147.7C37.7 150.3 75.3 155.7 112.8 154.3C150.3 153 187.7 145 225.2 138C262.7 131 300.3 125 337.8 125.5C375.3 126 412.7 133 450.2 130.2C487.7 127.3 525.3 114.7 562.8 117.7C600.3 120.7 637.7 139.3 675.2 142C712.7 144.7 750.3 131.3 787.8 125.2C825.3 119 862.7 120 881.3 120.5L900 121L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	50% {
		d: path(
			"M0 140L18.8 134.3C37.7 128.7 75.3 117.3 112.8 117.5C150.3 117.7 187.7 129.3 225.2 132.7C262.7 136 300.3 131 337.8 125.7C375.3 120.3 412.7 114.7 450.2 109C487.7 103.3 525.3 97.7 562.8 105.2C600.3 112.7 637.7 133.3 675.2 141.2C712.7 149 750.3 144 787.8 143.7C825.3 143.3 862.7 147.7 881.3 149.8L900 152L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	60% {
		d: path(
			"M0 159L18.8 149C37.7 139 75.3 119 112.8 107.7C150.3 96.3 187.7 93.7 225.2 96C262.7 98.3 300.3 105.7 337.8 108.5C375.3 111.3 412.7 109.7 450.2 114.5C487.7 119.3 525.3 130.7 562.8 133.8C600.3 137 637.7 132 675.2 132.3C712.7 132.7 750.3 138.3 787.8 133.7C825.3 129 862.7 114 881.3 106.5L900 99L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	70% {
		d: path(
			"M0 155L18.8 147.8C37.7 140.7 75.3 126.3 112.8 116.5C150.3 106.7 187.7 101.3 225.2 101.2C262.7 101 300.3 106 337.8 108.8C375.3 111.7 412.7 112.3 450.2 116.7C487.7 121 525.3 129 562.8 128.7C600.3 128.3 637.7 119.7 675.2 120.8C712.7 122 750.3 133 787.8 141.2C825.3 149.3 862.7 154.7 881.3 157.3L900 160L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	80% {
		d: path(
			"M0 94L18.8 93.5C37.7 93 75.3 92 112.8 95.8C150.3 99.7 187.7 108.3 225.2 108.7C262.7 109 300.3 101 337.8 97.3C375.3 93.7 412.7 94.3 450.2 101.2C487.7 108 525.3 121 562.8 121.3C600.3 121.7 637.7 109.3 675.2 108.5C712.7 107.7 750.3 118.3 787.8 119.8C825.3 121.3 862.7 113.7 881.3 109.8L900 106L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	90% {
		d: path(
			"M0 125L18.8 128.3C37.7 131.7 75.3 138.3 112.8 141.5C150.3 144.7 187.7 144.3 225.2 145.2C262.7 146 300.3 148 337.8 144.8C375.3 141.7 412.7 133.3 450.2 132.5C487.7 131.7 525.3 138.3 562.8 143.3C600.3 148.3 637.7 151.7 675.2 148.8C712.7 146 750.3 137 787.8 134.7C825.3 132.3 862.7 136.7 881.3 138.8L900 141L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	100% {
		d: path(
			"M0 133L18.8 126.5C37.7 120 75.3 107 112.8 102.3C150.3 97.7 187.7 101.3 225.2 102.8C262.7 104.3 300.3 103.7 337.8 106.8C375.3 110 412.7 117 450.2 119C487.7 121 525.3 118 562.8 118.7C600.3 119.3 637.7 123.7 675.2 130.2C712.7 136.7 750.3 145.3 787.8 148.7C825.3 152 862.7 150 881.3 149L900 148L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
}

@keyframes topWave4 {
	0% {
		d: path(
			"M0 86L18.8 84.5C37.7 83 75.3 80 112.8 84.3C150.3 88.7 187.7 100.3 225.2 102.8C262.7 105.3 300.3 98.7 337.8 100.8C375.3 103 412.7 114 450.2 117C487.7 120 525.3 115 562.8 116C600.3 117 637.7 124 675.2 122.8C712.7 121.7 750.3 112.3 787.8 107.8C825.3 103.3 862.7 103.7 881.3 103.8L900 104L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	10% {
		d: path(
			"M0 79L18.8 78.8C37.7 78.7 75.3 78.3 112.8 86.5C150.3 94.7 187.7 111.3 225.2 114.7C262.7 118 300.3 108 337.8 108.8C375.3 109.7 412.7 121.3 450.2 120.7C487.7 120 525.3 107 562.8 105.7C600.3 104.3 637.7 114.7 675.2 121C712.7 127.3 750.3 129.7 787.8 121.2C825.3 112.7 862.7 93.3 881.3 83.7L900 74L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	20% {
		d: path(
			"M0 108L18.8 110.5C37.7 113 75.3 118 112.8 112.5C150.3 107 187.7 91 225.2 90.3C262.7 89.7 300.3 104.3 337.8 114.3C375.3 124.3 412.7 129.7 450.2 126.3C487.7 123 525.3 111 562.8 109.5C600.3 108 637.7 117 675.2 122.7C712.7 128.3 750.3 130.7 787.8 130C825.3 129.3 862.7 125.7 881.3 123.8L900 122L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	30% {
		d: path(
			"M0 86L18.8 84C37.7 82 75.3 78 112.8 77.2C150.3 76.3 187.7 78.7 225.2 81C262.7 83.3 300.3 85.7 337.8 91.2C375.3 96.7 412.7 105.3 450.2 110.7C487.7 116 525.3 118 562.8 113.7C600.3 109.3 637.7 98.7 675.2 94.7C712.7 90.7 750.3 93.3 787.8 91.2C825.3 89 862.7 82 881.3 78.5L900 75L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	40% {
		d: path(
			"M0 102L18.8 107C37.7 112 75.3 122 112.8 122.5C150.3 123 187.7 114 225.2 106C262.7 98 300.3 91 337.8 96.3C375.3 101.7 412.7 119.3 450.2 122.2C487.7 125 525.3 113 562.8 109.7C600.3 106.3 637.7 111.7 675.2 113.7C712.7 115.7 750.3 114.3 787.8 114.5C825.3 114.7 862.7 116.3 881.3 117.2L900 118L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	50% {
		d: path(
			"M0 82L18.8 81.3C37.7 80.7 75.3 79.3 112.8 87.5C150.3 95.7 187.7 113.3 225.2 113C262.7 112.7 300.3 94.3 337.8 87.3C375.3 80.3 412.7 84.7 450.2 93.8C487.7 103 525.3 117 562.8 123.8C600.3 130.7 637.7 130.3 675.2 124.3C712.7 118.3 750.3 106.7 787.8 107.8C825.3 109 862.7 123 881.3 130L900 137L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	60% {
		d: path(
			"M0 114L18.8 109.8C37.7 105.7 75.3 97.3 112.8 94.5C150.3 91.7 187.7 94.3 225.2 102C262.7 109.7 300.3 122.3 337.8 123.8C375.3 125.3 412.7 115.7 450.2 113.2C487.7 110.7 525.3 115.3 562.8 112.8C600.3 110.3 637.7 100.7 675.2 97.8C712.7 95 750.3 99 787.8 98.2C825.3 97.3 862.7 91.7 881.3 88.8L900 86L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	70% {
		d: path(
			"M0 124L18.8 123.2C37.7 122.3 75.3 120.7 112.8 116.3C150.3 112 187.7 105 225.2 100.2C262.7 95.3 300.3 92.7 337.8 96.2C375.3 99.7 412.7 109.3 450.2 108.3C487.7 107.3 525.3 95.7 562.8 96.5C600.3 97.3 637.7 110.7 675.2 118.5C712.7 126.3 750.3 128.7 787.8 127.5C825.3 126.3 862.7 121.7 881.3 119.3L900 117L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	80% {
		d: path(
			"M0 107L18.8 102.7C37.7 98.3 75.3 89.7 112.8 85.8C150.3 82 187.7 83 225.2 82.2C262.7 81.3 300.3 78.7 337.8 80C375.3 81.3 412.7 86.7 450.2 94.8C487.7 103 525.3 114 562.8 117.5C600.3 121 637.7 117 675.2 110.8C712.7 104.7 750.3 96.3 787.8 91.5C825.3 86.7 862.7 85.3 881.3 84.7L900 84L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	90% {
		d: path(
			"M0 89L18.8 95.7C37.7 102.3 75.3 115.7 112.8 116.2C150.3 116.7 187.7 104.3 225.2 97.5C262.7 90.7 300.3 89.3 337.8 95.3C375.3 101.3 412.7 114.7 450.2 115.3C487.7 116 525.3 104 562.8 96.3C600.3 88.7 637.7 85.3 675.2 92.3C712.7 99.3 750.3 116.7 787.8 125.2C825.3 133.7 862.7 133.3 881.3 133.2L900 133L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	100% {
		d: path(
			"M0 86L18.8 84.5C37.7 83 75.3 80 112.8 84.3C150.3 88.7 187.7 100.3 225.2 102.8C262.7 105.3 300.3 98.7 337.8 100.8C375.3 103 412.7 114 450.2 117C487.7 120 525.3 115 562.8 116C600.3 117 637.7 124 675.2 122.8C712.7 121.7 750.3 112.3 787.8 107.8C825.3 103.3 862.7 103.7 881.3 103.8L900 104L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
}

@keyframes topWave5 {
	0% {
		d: path(
			"M0 65L18.8 68.5C37.7 72 75.3 79 112.8 77.8C150.3 76.7 187.7 67.3 225.2 71.2C262.7 75 300.3 92 337.8 95.3C375.3 98.7 412.7 88.3 450.2 82.3C487.7 76.3 525.3 74.7 562.8 76.7C600.3 78.7 637.7 84.3 675.2 85.5C712.7 86.7 750.3 83.3 787.8 82.7C825.3 82 862.7 84 881.3 85L900 86L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	10% {
		d: path(
			"M0 59L18.8 67.2C37.7 75.3 75.3 91.7 112.8 99.3C150.3 107 187.7 106 225.2 103.2C262.7 100.3 300.3 95.7 337.8 96.2C375.3 96.7 412.7 102.3 450.2 101.7C487.7 101 525.3 94 562.8 94C600.3 94 637.7 101 675.2 101C712.7 101 750.3 94 787.8 91C825.3 88 862.7 89 881.3 89.5L900 90L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	20% {
		d: path(
			"M0 66L18.8 69.2C37.7 72.3 75.3 78.7 112.8 80.8C150.3 83 187.7 81 225.2 76.7C262.7 72.3 300.3 65.7 337.8 69.8C375.3 74 412.7 89 450.2 95.2C487.7 101.3 525.3 98.7 562.8 94.3C600.3 90 637.7 84 675.2 85.7C712.7 87.3 750.3 96.7 787.8 101.7C825.3 106.7 862.7 107.3 881.3 107.7L900 108L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	30% {
		d: path(
			"M0 83L18.8 85.7C37.7 88.3 75.3 93.7 112.8 98.2C150.3 102.7 187.7 106.3 225.2 102.7C262.7 99 300.3 88 337.8 79.8C375.3 71.7 412.7 66.3 450.2 63.5C487.7 60.7 525.3 60.3 562.8 69C600.3 77.7 637.7 95.3 675.2 95.5C712.7 95.7 750.3 78.3 787.8 69.2C825.3 60 862.7 59 881.3 58.5L900 58L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	40% {
		d: path(
			"M0 77L18.8 79C37.7 81 75.3 85 112.8 83.3C150.3 81.7 187.7 74.3 225.2 72.7C262.7 71 300.3 75 337.8 76.5C375.3 78 412.7 77 450.2 80.7C487.7 84.3 525.3 92.7 562.8 93.2C600.3 93.7 637.7 86.3 675.2 80.3C712.7 74.3 750.3 69.7 787.8 67.7C825.3 65.7 862.7 66.3 881.3 66.7L900 67L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	50% {
		d: path(
			"M0 109L18.8 106.7C37.7 104.3 75.3 99.7 112.8 91.3C150.3 83 187.7 71 225.2 66C262.7 61 300.3 63 337.8 71.5C375.3 80 412.7 95 450.2 96.8C487.7 98.7 525.3 87.3 562.8 80C600.3 72.7 637.7 69.3 675.2 69.3C712.7 69.3 750.3 72.7 787.8 72.3C825.3 72 862.7 68 881.3 66L900 64L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	60% {
		d: path(
			"M0 93L18.8 87.7C37.7 82.3 75.3 71.7 112.8 70C150.3 68.3 187.7 75.7 225.2 76C262.7 76.3 300.3 69.7 337.8 74.7C375.3 79.7 412.7 96.3 450.2 101.2C487.7 106 525.3 99 562.8 95.2C600.3 91.3 637.7 90.7 675.2 89.7C712.7 88.7 750.3 87.3 787.8 90.5C825.3 93.7 862.7 101.3 881.3 105.2L900 109L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	70% {
		d: path(
			"M0 79L18.8 81C37.7 83 75.3 87 112.8 90.8C150.3 94.7 187.7 98.3 225.2 101.3C262.7 104.3 300.3 106.7 337.8 108.5C375.3 110.3 412.7 111.7 450.2 109.5C487.7 107.3 525.3 101.7 562.8 97.3C600.3 93 637.7 90 675.2 92.7C712.7 95.3 750.3 103.7 787.8 100.8C825.3 98 862.7 84 881.3 77L900 70L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	80% {
		d: path(
			"M0 107L18.8 102.5C37.7 98 75.3 89 112.8 88.5C150.3 88 187.7 96 225.2 97.2C262.7 98.3 300.3 92.7 337.8 87C375.3 81.3 412.7 75.7 450.2 72.7C487.7 69.7 525.3 69.3 562.8 69.7C600.3 70 637.7 71 675.2 70.2C712.7 69.3 750.3 66.7 787.8 67.2C825.3 67.7 862.7 71.3 881.3 73.2L900 75L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	90% {
		d: path(
			"M0 107L18.8 106.5C37.7 106 75.3 105 112.8 104.2C150.3 103.3 187.7 102.7 225.2 97C262.7 91.3 300.3 80.7 337.8 74.8C375.3 69 412.7 68 450.2 71.5C487.7 75 525.3 83 562.8 84.3C600.3 85.7 637.7 80.3 675.2 76.2C712.7 72 750.3 69 787.8 67C825.3 65 862.7 64 881.3 63.5L900 63L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	100% {
		d: path(
			"M0 65L18.8 68.5C37.7 72 75.3 79 112.8 77.8C150.3 76.7 187.7 67.3 225.2 71.2C262.7 75 300.3 92 337.8 95.3C375.3 98.7 412.7 88.3 450.2 82.3C487.7 76.3 525.3 74.7 562.8 76.7C600.3 78.7 637.7 84.3 675.2 85.5C712.7 86.7 750.3 83.3 787.8 82.7C825.3 82 862.7 84 881.3 85L900 86L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
}

@keyframes topWave6 {
	0% {
		d: path(
			"M0 69L18.8 69.7C37.7 70.3 75.3 71.7 112.8 73.8C150.3 76 187.7 79 225.2 74.2C262.7 69.3 300.3 56.7 337.8 57.5C375.3 58.3 412.7 72.7 450.2 79.2C487.7 85.7 525.3 84.3 562.8 80.5C600.3 76.7 637.7 70.3 675.2 69.5C712.7 68.7 750.3 73.3 787.8 74.5C825.3 75.7 862.7 73.3 881.3 72.2L900 71L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	10% {
		d: path(
			"M0 75L18.8 74.5C37.7 74 75.3 73 112.8 68C150.3 63 187.7 54 225.2 49.5C262.7 45 300.3 45 337.8 48.2C375.3 51.3 412.7 57.7 450.2 57.7C487.7 57.7 525.3 51.3 562.8 50.7C600.3 50 637.7 55 675.2 59.5C712.7 64 750.3 68 787.8 65.7C825.3 63.3 862.7 54.7 881.3 50.3L900 46L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	20% {
		d: path(
			"M0 87L18.8 83.7C37.7 80.3 75.3 73.7 112.8 66.3C150.3 59 187.7 51 225.2 52.8C262.7 54.7 300.3 66.3 337.8 72.5C375.3 78.7 412.7 79.3 450.2 80.8C487.7 82.3 525.3 84.7 562.8 80.5C600.3 76.3 637.7 65.7 675.2 64.5C712.7 63.3 750.3 71.7 787.8 74C825.3 76.3 862.7 72.7 881.3 70.8L900 69L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	30% {
		d: path(
			"M0 58L18.8 61C37.7 64 75.3 70 112.8 67.3C150.3 64.7 187.7 53.3 225.2 53.8C262.7 54.3 300.3 66.7 337.8 66.8C375.3 67 412.7 55 450.2 52.7C487.7 50.3 525.3 57.7 562.8 61.5C600.3 65.3 637.7 65.7 675.2 64.5C712.7 63.3 750.3 60.7 787.8 64.2C825.3 67.7 862.7 77.3 881.3 82.2L900 87L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	40% {
		d: path(
			"M0 49L18.8 48C37.7 47 75.3 45 112.8 46C150.3 47 187.7 51 225.2 52.3C262.7 53.7 300.3 52.3 337.8 51.5C375.3 50.7 412.7 50.3 450.2 56.5C487.7 62.7 525.3 75.3 562.8 81.3C600.3 87.3 637.7 86.7 675.2 86.2C712.7 85.7 750.3 85.3 787.8 85.5C825.3 85.7 862.7 86.3 881.3 86.7L900 87L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	50% {
		d: path(
			"M0 88L18.8 80.8C37.7 73.7 75.3 59.3 112.8 57.7C150.3 56 187.7 67 225.2 69.3C262.7 71.7 300.3 65.3 337.8 61.5C375.3 57.7 412.7 56.3 450.2 54.8C487.7 53.3 525.3 51.7 562.8 51.3C600.3 51 637.7 52 675.2 55.5C712.7 59 750.3 65 787.8 69.7C825.3 74.3 862.7 77.7 881.3 79.3L900 81L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	60% {
		d: path(
			"M0 62L18.8 63.8C37.7 65.7 75.3 69.3 112.8 72.3C150.3 75.3 187.7 77.7 225.2 72.8C262.7 68 300.3 56 337.8 51.7C375.3 47.3 412.7 50.7 450.2 52C487.7 53.3 525.3 52.7 562.8 54.5C600.3 56.3 637.7 60.7 675.2 61C712.7 61.3 750.3 57.7 787.8 55.2C825.3 52.7 862.7 51.3 881.3 50.7L900 50L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	70% {
		d: path(
			"M0 67L18.8 63.3C37.7 59.7 75.3 52.3 112.8 51.2C150.3 50 187.7 55 225.2 59.8C262.7 64.7 300.3 69.3 337.8 69.8C375.3 70.3 412.7 66.7 450.2 68C487.7 69.3 525.3 75.7 562.8 78.8C600.3 82 637.7 82 675.2 79.5C712.7 77 750.3 72 787.8 67.7C825.3 63.3 862.7 59.7 881.3 57.8L900 56L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	80% {
		d: path(
			"M0 66L18.8 67.2C37.7 68.3 75.3 70.7 112.8 71.7C150.3 72.7 187.7 72.3 225.2 74.7C262.7 77 300.3 82 337.8 79.8C375.3 77.7 412.7 68.3 450.2 61.2C487.7 54 525.3 49 562.8 50.7C600.3 52.3 637.7 60.7 675.2 66.8C712.7 73 750.3 77 787.8 76.8C825.3 76.7 862.7 72.3 881.3 70.2L900 68L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	90% {
		d: path(
			"M0 55L18.8 55C37.7 55 75.3 55 112.8 60.2C150.3 65.3 187.7 75.7 225.2 76C262.7 76.3 300.3 66.7 337.8 62.5C375.3 58.3 412.7 59.7 450.2 63.8C487.7 68 525.3 75 562.8 79.3C600.3 83.7 637.7 85.3 675.2 81.3C712.7 77.3 750.3 67.7 787.8 63.2C825.3 58.7 862.7 59.3 881.3 59.7L900 60L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	100% {
		d: path(
			"M0 69L18.8 69.7C37.7 70.3 75.3 71.7 112.8 73.8C150.3 76 187.7 79 225.2 74.2C262.7 69.3 300.3 56.7 337.8 57.5C375.3 58.3 412.7 72.7 450.2 79.2C487.7 85.7 525.3 84.3 562.8 80.5C600.3 76.7 637.7 70.3 675.2 69.5C712.7 68.7 750.3 73.3 787.8 74.5C825.3 75.7 862.7 73.3 881.3 72.2L900 71L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
}

@keyframes topWave7 {
	0% {
		d: path(
			"M0 39L18.8 42.5C37.7 46 75.3 53 112.8 56C150.3 59 187.7 58 225.2 58.3C262.7 58.7 300.3 60.3 337.8 60.7C375.3 61 412.7 60 450.2 56.3C487.7 52.7 525.3 46.3 562.8 42.2C600.3 38 637.7 36 675.2 33.8C712.7 31.7 750.3 29.3 787.8 31.5C825.3 33.7 862.7 40.3 881.3 43.7L900 47L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	10% {
		d: path(
			"M0 30L18.8 33.5C37.7 37 75.3 44 112.8 49.8C150.3 55.7 187.7 60.3 225.2 60.3C262.7 60.3 300.3 55.7 337.8 54.8C375.3 54 412.7 57 450.2 56C487.7 55 525.3 50 562.8 47.3C600.3 44.7 637.7 44.3 675.2 47.3C712.7 50.3 750.3 56.7 787.8 56.3C825.3 56 862.7 49 881.3 45.5L900 42L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	20% {
		d: path(
			"M0 54L18.8 52.5C37.7 51 75.3 48 112.8 48.7C150.3 49.3 187.7 53.7 225.2 56.3C262.7 59 300.3 60 337.8 55.2C375.3 50.3 412.7 39.7 450.2 36C487.7 32.3 525.3 35.7 562.8 39C600.3 42.3 637.7 45.7 675.2 46.7C712.7 47.7 750.3 46.3 787.8 44.2C825.3 42 862.7 39 881.3 37.5L900 36L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	30% {
		d: path(
			"M0 60L18.8 55.3C37.7 50.7 75.3 41.3 112.8 38C150.3 34.7 187.7 37.3 225.2 42.8C262.7 48.3 300.3 56.7 337.8 61C375.3 65.3 412.7 65.7 450.2 61.8C487.7 58 525.3 50 562.8 44C600.3 38 637.7 34 675.2 37C712.7 40 750.3 50 787.8 51.3C825.3 52.7 862.7 45.3 881.3 41.7L900 38L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	40% {
		d: path(
			"M0 55L18.8 50.3C37.7 45.7 75.3 36.3 112.8 32C150.3 27.7 187.7 28.3 225.2 31.8C262.7 35.3 300.3 41.7 337.8 44.3C375.3 47 412.7 46 450.2 45.5C487.7 45 525.3 45 562.8 42.3C600.3 39.7 637.7 34.3 675.2 32.8C712.7 31.3 750.3 33.7 787.8 38.8C825.3 44 862.7 52 881.3 56L900 60L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	50% {
		d: path(
			"M0 50L18.8 46.3C37.7 42.7 75.3 35.3 112.8 34C150.3 32.7 187.7 37.3 225.2 37.3C262.7 37.3 300.3 32.7 337.8 32.8C375.3 33 412.7 38 450.2 44.2C487.7 50.3 525.3 57.7 562.8 55.7C600.3 53.7 637.7 42.3 675.2 39.5C712.7 36.7 750.3 42.3 787.8 43.3C825.3 44.3 862.7 40.7 881.3 38.8L900 37L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	60% {
		d: path(
			"M0 53L18.8 49.8C37.7 46.7 75.3 40.3 112.8 42.3C150.3 44.3 187.7 54.7 225.2 57.3C262.7 60 300.3 55 337.8 49C375.3 43 412.7 36 450.2 36.2C487.7 36.3 525.3 43.7 562.8 49.7C600.3 55.7 637.7 60.3 675.2 60.2C712.7 60 750.3 55 787.8 48.5C825.3 42 862.7 34 881.3 30L900 26L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	70% {
		d: path(
			"M0 62L18.8 58.8C37.7 55.7 75.3 49.3 112.8 47.5C150.3 45.7 187.7 48.3 225.2 52C262.7 55.7 300.3 60.3 337.8 58.2C375.3 56 412.7 47 450.2 46C487.7 45 525.3 52 562.8 55.2C600.3 58.3 637.7 57.7 675.2 57.3C712.7 57 750.3 57 787.8 52.5C825.3 48 862.7 39 881.3 34.5L900 30L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	80% {
		d: path(
			"M0 35L18.8 39.7C37.7 44.3 75.3 53.7 112.8 53.2C150.3 52.7 187.7 42.3 225.2 41.3C262.7 40.3 300.3 48.7 337.8 51.5C375.3 54.3 412.7 51.7 450.2 51.5C487.7 51.3 525.3 53.7 562.8 50.5C600.3 47.3 637.7 38.7 675.2 34.8C712.7 31 750.3 32 787.8 33.3C825.3 34.7 862.7 36.3 881.3 37.2L900 38L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	90% {
		d: path(
			"M0 30L18.8 31.3C37.7 32.7 75.3 35.3 112.8 40C150.3 44.7 187.7 51.3 225.2 53.3C262.7 55.3 300.3 52.7 337.8 53.2C375.3 53.7 412.7 57.3 450.2 59.3C487.7 61.3 525.3 61.7 562.8 56.2C600.3 50.7 637.7 39.3 675.2 38C712.7 36.7 750.3 45.3 787.8 46.8C825.3 48.3 862.7 42.7 881.3 39.8L900 37L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	100% {
		d: path(
			"M0 39L18.8 42.5C37.7 46 75.3 53 112.8 56C150.3 59 187.7 58 225.2 58.3C262.7 58.7 300.3 60.3 337.8 60.7C375.3 61 412.7 60 450.2 56.3C487.7 52.7 525.3 46.3 562.8 42.2C600.3 38 637.7 36 675.2 33.8C712.7 31.7 750.3 29.3 787.8 31.5C825.3 33.7 862.7 40.3 881.3 43.7L900 47L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
}

@keyframes topWave8 {
	0% {
		d: path(
			"M0 20L18.8 22.3C37.7 24.7 75.3 29.3 112.8 30C150.3 30.7 187.7 27.3 225.2 28.5C262.7 29.7 300.3 35.3 337.8 35.3C375.3 35.3 412.7 29.7 450.2 28C487.7 26.3 525.3 28.7 562.8 28C600.3 27.3 637.7 23.7 675.2 22C712.7 20.3 750.3 20.7 787.8 19.2C825.3 17.7 862.7 14.3 881.3 12.7L900 11L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	10% {
		d: path(
			"M0 11L18.8 15.2C37.7 19.3 75.3 27.7 112.8 27.8C150.3 28 187.7 20 225.2 19.5C262.7 19 300.3 26 337.8 26.8C375.3 27.7 412.7 22.3 450.2 20.5C487.7 18.7 525.3 20.3 562.8 20.5C600.3 20.7 637.7 19.3 675.2 21.2C712.7 23 750.3 28 787.8 31C825.3 34 862.7 35 881.3 35.5L900 36L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	20% {
		d: path(
			"M0 17L18.8 19.5C37.7 22 75.3 27 112.8 26.7C150.3 26.3 187.7 20.7 225.2 19.8C262.7 19 300.3 23 337.8 24C375.3 25 412.7 23 450.2 24.5C487.7 26 525.3 31 562.8 31C600.3 31 637.7 26 675.2 27C712.7 28 750.3 35 787.8 34.7C825.3 34.3 862.7 26.7 881.3 22.8L900 19L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	30% {
		d: path(
			"M0 19L18.8 20C37.7 21 75.3 23 112.8 23.2C150.3 23.3 187.7 21.7 225.2 24.2C262.7 26.7 300.3 33.3 337.8 33C375.3 32.7 412.7 25.3 450.2 24.2C487.7 23 525.3 28 562.8 28.7C600.3 29.3 637.7 25.7 675.2 22C712.7 18.3 750.3 14.7 787.8 15.5C825.3 16.3 862.7 21.7 881.3 24.3L900 27L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	40% {
		d: path(
			"M0 31L18.8 32.3C37.7 33.7 75.3 36.3 112.8 37C150.3 37.7 187.7 36.3 225.2 34C262.7 31.7 300.3 28.3 337.8 29.3C375.3 30.3 412.7 35.7 450.2 33.5C487.7 31.3 525.3 21.7 562.8 20.5C600.3 19.3 637.7 26.7 675.2 27.2C712.7 27.7 750.3 21.3 787.8 17.3C825.3 13.3 862.7 11.7 881.3 10.8L900 10L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	50% {
		d: path(
			"M0 13L18.8 14.5C37.7 16 75.3 19 112.8 23.8C150.3 28.7 187.7 35.3 225.2 37.8C262.7 40.3 300.3 38.7 337.8 35.3C375.3 32 412.7 27 450.2 26C487.7 25 525.3 28 562.8 30.2C600.3 32.3 637.7 33.7 675.2 32.8C712.7 32 750.3 29 787.8 27.5C825.3 26 862.7 26 881.3 26L900 26L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	60% {
		d: path(
			"M0 14L18.8 15.7C37.7 17.3 75.3 20.7 112.8 23C150.3 25.3 187.7 26.7 225.2 26.2C262.7 25.7 300.3 23.3 337.8 24.5C375.3 25.7 412.7 30.3 450.2 29.5C487.7 28.7 525.3 22.3 562.8 21.2C600.3 20 637.7 24 675.2 27.8C712.7 31.7 750.3 35.3 787.8 32.7C825.3 30 862.7 21 881.3 16.5L900 12L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	70% {
		d: path(
			"M0 17L18.8 20.8C37.7 24.7 75.3 32.3 112.8 31.5C150.3 30.7 187.7 21.3 225.2 20.7C262.7 20 300.3 28 337.8 31.8C375.3 35.7 412.7 35.3 450.2 34C487.7 32.7 525.3 30.3 562.8 27C600.3 23.7 637.7 19.3 675.2 18.5C712.7 17.7 750.3 20.3 787.8 19.7C825.3 19 862.7 15 881.3 13L900 11L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	80% {
		d: path(
			"M0 17L18.8 20.7C37.7 24.3 75.3 31.7 112.8 32.3C150.3 33 187.7 27 225.2 26C262.7 25 300.3 29 337.8 29C375.3 29 412.7 25 450.2 21.2C487.7 17.3 525.3 13.7 562.8 13.7C600.3 13.7 637.7 17.3 675.2 18.8C712.7 20.3 750.3 19.7 787.8 22C825.3 24.3 862.7 29.7 881.3 32.3L900 35L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	90% {
		d: path(
			"M0 13L18.8 13.7C37.7 14.3 75.3 15.7 112.8 16.8C150.3 18 187.7 19 225.2 20.3C262.7 21.7 300.3 23.3 337.8 26.7C375.3 30 412.7 35 450.2 32.5C487.7 30 525.3 20 562.8 18.8C600.3 17.7 637.7 25.3 675.2 29C712.7 32.7 750.3 32.3 787.8 33.3C825.3 34.3 862.7 36.7 881.3 37.8L900 39L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
	100% {
		d: path(
			"M0 20L18.8 22.3C37.7 24.7 75.3 29.3 112.8 30C150.3 30.7 187.7 27.3 225.2 28.5C262.7 29.7 300.3 35.3 337.8 35.3C375.3 35.3 412.7 29.7 450.2 28C487.7 26.3 525.3 28.7 562.8 28C600.3 27.3 637.7 23.7 675.2 22C712.7 20.3 750.3 20.7 787.8 19.2C825.3 17.7 862.7 14.3 881.3 12.7L900 11L900 0L881.3 0C862.7 0 825.3 0 787.8 0C750.3 0 712.7 0 675.2 0C637.7 0 600.3 0 562.8 0C525.3 0 487.7 0 450.2 0C412.7 0 375.3 0 337.8 0C300.3 0 262.7 0 225.2 0C187.7 0 150.3 0 112.8 0C75.3 0 37.7 0 18.8 0L0 0Z"
		);
	}
}
